body {
  background: url(Bk.png) no-repeat center center fixed; 
  background-size: cover; 
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  height: 100vh;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between items */
  background-color: rgb(6, 6, 134);
  color: white;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav h2 {
  margin-left: 10px;
  padding-right: 20px;
}

.nav img {
  margin: 5px;
  border-radius: 100%;
  height: 3em;
  width: 3em;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 15px;
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.4em;
}

.nav ul li a:hover,
.nav ul li a.active {
  color: yellow;
  font-weight: bold;
}

.logout-btn {
  text-decoration: none;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  margin-left: auto; 
  margin-right: 10px; 
}

.logout-btn:hover {
  background-color: #d32f2f;
}

.line {
  width: 2px;
  height: 35px;
  background-color: white;
}

.container {
  margin: 0;  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 5px solid black;
  height: 85%;
  width: 85%; 
  margin: 100px 150px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.account-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  box-sizing: border-box; 
  font-size: 1.5em;
}

.account-name {
  font-size: 2em;
  color: black;
}
.consultation-table {
  width: 85%;
  border-collapse: collapse;
  height: 100%;
  margin-top: 20px;
}

.consultation-table th,
.consultation-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  position: relative;
}

.consultation-table th {
  background-color: rgb(6, 6, 134);
  color: white;
  height: 70px;
}

.consultation-table td {
  background-color: #f2f2f2;
  height: 70px;
}
.scrollable-container {
  overflow-y: auto;
  position: relative;
}

.scrollable-table {
  max-height: 570px; 
  overflow-y: auto;
  overflow-x: auto;
  display: block;
  width: 85%;
  text-align: center;
}

.scrollable-table table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px; 
}

.scrollable-table th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  background-color: rgb(6, 6, 134);
}

.scrollable-table td {
  background-color: #fff;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
  white-space: nowrap;
}

.consultation-table td:hover .tooltip {
  display: block;
}
.button-group {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 10px;
}

.approve-btn, .reject-btn, .cancel-btn {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.approve-btn {
  background-color: #4CAF50; /* Green */
  color: white;
}

.approve-btn:hover {
  background-color: #45a049;
}

.reject-btn {
  background-color: #f44336; /* Red */
  color: white;
}

.reject-btn:hover {
  background-color: #d32f2f;
}

.cancel-btn {
  background-color: #f44336; /* Red */
  color: white;
  margin-top: 10px; /* Add margin to position it below the text */
}

.cancel-btn:hover {
  background-color: #d32f2f;
}

.edit-schedule-btn {
background-color: #007bff;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
font-size: 1em;
position: relative;
bottom: -120px;
right: -700px;
}
.edit-schedule-btn:hover {
  background-color: #0056b3;
}

.approved {
  color: green;
  font-weight: bold;
}

.rejected {
  color: red;
  font-weight: bold;
}

.footer {
  height: 200px;
  width: 100%;
  background-color: rgb(6, 6, 134);
  color: white;
  justify-content: start;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 500px;
  padding-top:20px;
}

.footer h2 {
  margin: 0;
}

.footer ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

.footer ul li {
  margin: 0 15px;
  position: relative;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer img {
  height: 50px;
  width: 50px;
  margin-right: 10px; 
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.ohsologo {
  margin-top: 10px;
}

.tooltip.active {
  display: block;
}


.calendar-container {
  margin-top: 20px;
  width: 85%;
  border: 6px solid black;
  border-radius: 10px;
  padding: 25px;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
  font-size: 1.5em;
}

.calendar-header {
  font-weight: bold;
  background-color: rgb(6, 6, 134);
  color: white;
  padding: 10px;
}

.calendar-day {
  padding: 10px;
  border: 1px solid black;
  background-color: #f2f2f2;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.calendar-title {
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}

/* Popup styling */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.popup .close:hover {
  color: red;
}

.tooltip-container {
  cursor: pointer;
}

.reason-text {
  display: block;
  margin-bottom: 10px;
}

/* Add these styles for the modal animation and box shadow */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    backdrop-filter: blur(5px); /* Blur background */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    opacity: 0; /* Start with hidden */
    text-align: center;
}

.modal.show {
    display: block; /* Show the modal */
    opacity: 1; /* Fully visible */
}

.modal-content {
  border-radius: 10px;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    box-shadow: 0 0px 25px black;
    transform: scale(0.8); 
    transition: transform 0.3s ease; 
    text-align: right;
}

.modal.show .modal-content {
    transform: scale(1); /* Scale up to full size */
}

.close-modal {
  float:right;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #D1D5DB;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 7px;
  transition: .3s ease;
}

.close-modal:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
  cursor: pointer;
}
.time-inputs {
  margin-bottom: 20px;
}

.time-inputs label {
  display: block;
  margin: 10px 0;
}

.time-inputs input[type="time"] {
  margin: 10px 0;
  padding:10px;
}

.time-inputs button {
  margin: 10px 5px;
}

.add-time-btn {
  margin-top: 10px;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.add-time-btn:hover {
  background-color: #0056b3;
}
#edit-schedule-form {
 padding: 10px;
}
.remove-time-btn {
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
}

.remove-time-btn:hover {
  background-color: #d32f2f;
}

button {
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.4rem;
}

button:hover {
  background-color: #0056b3;
}
.popup .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#editScheduleBtn {
  background-color: #45a049;
  position: relative;
  bottom: -50px;
  right: -500px;
}
#toggleRemoveBtn {
  background-color: red;
  position: relative;
  bottom: 5px;
  right: -600px;
}
.remark {
  position: relative;
  font-size: 0.8em;
  left: -580px;
  bottom: -100px;
  color: red;
  margin: 10px 0px 0px 0px;
  text-align: left;
}

.mark {
  font-size: 0.8em;
    color: red;
    margin-top: 5px;
    text-align: left;
    bottom: -115px;
    position: relative;
    left: -675px;
}
